%p#notice= notice
=hidden_field_tag "meeting_id",params[:id]
%audio#audio{:controls => "", :src => ""}
%div{:style => "margin:10px;"}
  %a#record.button Record
  %a#stop.button.disabled.one Reset
  %a#mp3.button.disabled.one Stop
#meeting-content


%p
  %b Name:
  = @meeting.name
%p
  %b Venue:
  = @meeting.venue
%p
  %b Agenda:
  = @meeting.agenda
%p
  %b Meeting date:
  = @meeting.meeting_date
%p
  %b Meeting Duration:
  = distance_of_time_in_words(@meeting.start_time, @meeting.end_time)

= link_to 'Edit', edit_meeting_path(@meeting)
\|
= link_to 'Back', meetings_path

