<!DOCTYPE html>
<html>
  <head>
    <title>MeetingBot</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="fix-header card-no-border">
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <div id="main-wrapper">
        <%= render 'layouts/shared/header' %>
        <%= render 'layouts/shared/sidebar' %>
        <div class="page-wrapper">
          <div class="container-fluid">
            <%= yield %>
          </div>
        </div>
    </div>
  </body>
</html>
